/.last-update
home/bin/pushbullet.sh
home/dot/config/.mono/
home/dot/config/mc/
home/dot/irssi/away.log
home/dot/irssi/otr/
home/dot/vim/.netrwhist
home/dot/vim/doc/tags
home/dot/vim/spell
identify.pl
