[submodule "home/dot/vim/bundle/detectindent"]
	path = home/dot/vim/bundle/detectindent
	url = https://github.com/jonasb/detectindent.git
[submodule "home/dot/vim/bundle/nerdtree"]
	path = home/dot/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/dot/vim/bundle/vim-markdown"]
	path = home/dot/vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "home/dot/vim/bundle/vim-fugitive"]
	path = home/dot/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/dot/vim/bundle/vim-space"]
	path = home/dot/vim/bundle/vim-space
	url = https://github.com/jonasb/vim-space.git
[submodule "home/dot/vim/bundle/hammer.vim"]
	path = home/dot/vim/bundle/hammer.vim
	url = https://github.com/matthias-guenther/hammer.vim.git
[submodule "home/dot/vim/bundle/vim-exjumplist"]
	path = home/dot/vim/bundle/vim-exjumplist
	url = https://github.com/kana/vim-exjumplist
[submodule "home/dot/vim/bundle/vimroom"]
	path = home/dot/vim/bundle/vimroom
	url = https://github.com/mikewest/vimroom
[submodule "home/dot/vim/bundle/camelcasemotion"]
	path = home/dot/vim/bundle/camelcasemotion
	url = https://github.com/jonasb/camelcasemotion.git
[submodule "home/dot/vim/bundle/vim-less"]
	path = home/dot/vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "home/dot/vim/bundle/vim-matchit"]
	path = home/dot/vim/bundle/vim-matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "home/dot/vim/bundle/vim-smali"]
	path = home/dot/vim/bundle/vim-smali
	url = https://github.com/kelwin/vim-smali.git
[submodule "home/dot/vim/bundle/vim-localvimrc"]
	path = home/dot/vim/bundle/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc
[submodule "home/dot/vim/bundle/vim-fuzzyfinder"]
	path = home/dot/vim/bundle/vim-fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "home/dot/vim/bundle/vim-l9"]
	path = home/dot/vim/bundle/vim-l9
	url = https://github.com/vim-scripts/L9.git
[submodule "home/dot/vim/bundle/bufferlist"]
	path = home/dot/vim/bundle/bufferlist
	url = https://github.com/vim-scripts/bufferlist.vim.git
[submodule "home/dot/vim/vim-pathogen"]
	path = home/dot/vim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "liquidprompt"]
	path = liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
[submodule "home/bin/pyPushBullet"]
	path = home/bin/pyPushBullet
	url = https://github.com/Azelphur/pyPushBullet.git
[submodule "home/dot/vim/bundle/vim-golang"]
	path = home/dot/vim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "home/dot/vim/bundle/dirdiff"]
	path = home/dot/vim/bundle/dirdiff
	url = https://github.com/vim-scripts/DirDiff.vim.git
[submodule "home/dot/vim/bundle/vim-gradle"]
	path = home/dot/vim/bundle/vim-gradle
	url = https://github.com/tfnico/vim-gradle.git
[submodule "home/bin/willgit"]
	path = home/bin/willgit
	url = https://github.com/DanielVartanov/willgit.git
[submodule "home/dot/vim/bundle/kotlin-vim"]
	path = home/dot/vim/bundle/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
